<div class="container">
  <div class="row">
    {{#each docs}}
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="https://pbs.twimg.com/media/CMqK-dJWwAAfusS.jpg:large" class="rounded-img">
        </div>
        <div class="card-content">
          <p>{{content}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>